[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "EncryptedSession"]
	path = EncryptedSession
	url = git@github.com:SaintFlipper/EncryptedSession.git
[submodule "gnucash"]
	path = gnucash
	url = https://github.com/Gnucash/gnucash
