{% extends 'base.j2' %}
{% block title %}Budget {{ budgetData.name }}{% endblock title %}
{% block account_header %}
    <div class="breadcrumb gnc-account-nav py-2 my-0 mx-4">
        <div class="breadcrumb-item active">{{budgetData.name}}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="bg border-top ">
        {% for period, _period in _periods %}
            <div class="row">
                <div class="col-1 text-center">
                    <i class="btn-muted gnc-transaction-detail-button bi collapsed bi-chevron-down" role="button" data-bs-toggle="collapse" data-bs-target="#budget_period_{{ _period }}" data-gnc-switch=".gnc-budget-period-{{ _period }}" aria-expanded="false">
                    </i>
                </div>
                <div class="col-11 gnc-budget-period-{{ _period }}">
    
                    <div class="row align-items-center justify-content-between">
                      <div class="col-9 fw-bolder">{{ period }}</div>
                      <div class="col-3 text-end">
                        <span class="float-end fs-7">                  
                        </span>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row collapse" id="budget_period_{{ _period }}" style="">
                <div class="col">
                    <div class="row">
                        <div class="col fw-bolder">{{ period }}</div>
                      </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Account</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in budgetFrame.iterrows() %}
                                {% if period == value['period'] %}
                                    {% if value['amount'] > 0 %}
                                        <tr>
                                            <td>{{value['account']}}</td>
                                            <td>{{ "${:,.2f}".format(value['amount'])  }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        {% endfor %}
    </div>





    
        
    
    
{% endblock %}