{% extends 'base.j2' %}

{% block title %}{{ account.fullname or 'Accounts' }}{% endblock title %}

{% block account_header %}
  <nav style="--bs-breadcrumb-divider: ':';">
    <ol class="breadcrumb">
      {% for parent_account in account | parentaccounts -%}
        {% if loop.first and loop.last -%}
          <li class="breadcrumb-item active">All Accounts</li>
        {%- elif loop.last -%}
          <li class="breadcrumb-item active">{{ parent_account.name }}</li>
        {%- elif not loop.first -%}
          <li class="breadcrumb-item">
            <a class="link"
               href="{{ url_for('show_account', account_name=parent_account.fullname.replace(':', '/')) }}">
              {{ parent_account.name }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor %}
    </ol>
  </nav>
{% endblock account_header %}

{% block content %}
  <div class="list-group">
    {% if account.parent %}
      {% set balance = account.get_balance() %}
      <div class="list-group-item">
        <b>Total</b>
        <span class="float-end badge bg-{% if balance >= 0 %}secondary{% else %}danger{% endif %}">
          {{ balance }} {{ account.commodity.mnemonic }}
        </span>
      </div>
    {% endif %}

    {% for account in account.children | sort(attribute='name') recursive %}
      {% set balance = account.get_balance() %}
      {% if account.placeholder %}
        <div class="list-group-item list-group-item-action collapsed gnc-placeholder"
             role="button"
             data-bs-toggle="collapse" href="#{{ account.fullname | replace(':', '-') }}">
             <a class="link-secondary" href="{{ url_for('show_account') }}{{ account.fullname | replace(':', '/') }}">
               {{ account.name }}
             </a>
             <span class="float-end badge bg-{% if balance >= 0 %}secondary{% else %}danger{% endif %}">
               {{ balance }} {{ account.commodity.mnemonic }}
             </span>
        </div>
      {% else %}
        <div class="list-group-item list-group-item-action gnc-account">
          <a href="{{ url_for('show_account') }}{{ account.fullname | replace(':', '/') }}">
            {{ account.name }}
          </a>
          <span class="float-end badge bg-{% if balance >= 0 %}secondary{% else %}danger{% endif %}">
            {{ balance }} {{ account.commodity.mnemonic }}
          </span>
        </div>
      {% endif %}

      {% if account.children %}
        <div class="list-group-item list-group collapse gnc-account-group"
             id="{{ account.fullname | replace(':', '-') }}">
             {{ loop(account.children) }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if not account.placeholder and account.parent %}
    <form id="add_transaction" action="{{ url_for('add_transaction') }}" method="post">
      <input type="hidden" name="{{ account.fullname }}" value={{ account.fullname }}>
    </form>
    <table>
      <thead>
        <tr>
          <th>Datum</th>
          <th>Beschreibung</th>
          <th>Betrag</th>
          <th>Gegenkonto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input form="add_transaction" name="date" type="date"></td>
          <td><input form="add_transaction" name="description" type="text"></td>
          <td><input form="add_transaction" name="value" type="number"></td>
          <td>
            <select form="add_transaction" name="contra_account_name">
              {% for contra_account in book.accounts
                | rejectattr('fullname', 'eq', account.fullname)
                | rejectattr('placeholder')
                | selectattr('commodity', 'eq', account.commodity)
                | sort(attribute='fullname') %}
                <option value={{ contra_account.fullname }}>{{ contra_account.fullname }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="5"><input form="add_transaction" type="submit" value="Submit"></td>
        </tr>
        {% for split in account.splits | sort(attribute='transaction.post_date,transaction.num', reverse=True) %}
          <tr>
            <td>
              {{ split.transaction.post_date -}}
              {%- if split.transaction.num -%}
                #{{ split.transaction.num}}
              {% endif %}
            </td>
            <td>{{ split.transaction.description }}</td>
            <td>{{ split.value }}{{ split.transaction.currency.mnemonic | replace('EUR', '€') }}</td>
            <td>
              {# List all contra accounts #}
              {{ split.transaction.splits
              | map(attribute='account') | map(attribute='fullname')
              | reject('eq', split.account.fullname)
              | join(', ') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
