<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/img/official/16x16/apps/gnucash-icon.png" rel="icon" type="image/png">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/gnucash-web.css" rel="stylesheet">

    <title>{% block title %}{% endblock %} — GnuCash Web</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between
                     py-3 mb-4 border-bottom">
        <a href="{{ url_for('show_account') }}"
           class="d-flex align-items-center col-sm-3 mb-2 mb-sm-0 text-dark">
           <img class="bi me-2" width="32" height="32" role="img"
                src="/static/img/official/32x32/apps/gnucash-icon.png">
           GnuCash Web
        </a>

        <div class="nav col-12 col-sm-auto mb-2 justify-content-center mb-sm-0">
          {% block account_header %}
            <a href="{{ url_for('show_account') }}" class="nav-link px-2 link-dark">Accounts</a>
          {% endblock account_header %}
        </div>

        <div class="col-sm-3 text-end">
          {% if 'username' in session %}
            <form action="{{ url_for('logout') }}" method="POST">
              <input type="submit" class="btn btn-outline-primary me-2" value="Logout">
            </form>
          {% elif request.path != url_for('login') %}
            <a href="{{ url_for('login') }}">
              <button type="button" class="btn btn-outline-primary me-2">Login</button>
            </a>
          {% endif %}
        </div>
      </header>
    </div>

    <main>
      <div id="content" class="container">
        {% block content required %}{% endblock %}
      </div>
    </main>

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <address>
      <a href="mailto:joshua@galp.bachmeier.cc"></a>
    </address>
  </body>
</html>

