<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %} — GnuCash Web</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between
                     py-3 mb-4 border-bottom">
        <a href="{{ url_for('show_account') }}"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img class="bi me-2" width="40" height="32" role="img"
               src="https://gnucash.org/images/gnc-download.png"></img>
               GnuCash Web
        </a>

        <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          {% block account_header %}
            <a href="{{ url_for('show_account') }}" class="nav-link px-2 link-dark">Accounts</a>
          {% endblock account_header %}
        </div>

        <div class="col-md-3 text-end">
          {% if 'username' in session %}
            <form action="{{ url_for('logout') }}" method="POST">
              <input type="submit" class="btn btn-outline-primary me-2" value="Logout">
            </form>
          {% elif request.path != url_for('login') %}
            <a href="{{ url_for('login') }}">
              <button type="button" class="btn btn-outline-primary me-2">Login</button>
            </a>
          {% endif %}
        </div>
      </header>
    </div>

    <main>
      <div id="content" class="container">{% block content required %}{% endblock %}</div>
    </main>

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <address>
      <a href="mailto:joshua@galp.bachmeier.cc"></a>
    </address>
  </body>
</html>

