<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} — GnuCash Web</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <address>
      <a href="mailto:joshua@galp.bachmeier.cc"></a>
    </address>
  </body>
</html>

