{% extends 'base.j2' %}
{% block title %}Login{% endblock title %}
{% block content %}
  <h1>Gnucash Web Login</h1>
  <form method="POST">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <br/>
    <input type="submit" value="Submit">
  </form>
{% endblock content %}
